body {
	height: 100vh;
    width: 100%;
	margin: 0px;
	display: grid;
    background-color: #F3E495;
    grid-template-columns: max-content auto max-content;
    background-image: url("../img/background.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}

input[type=text], input[type=password], textarea {
	height: 40px;
	width: 200px;
	padding: 2px 15px;
	border: 1px solid #B0B0B0;
    font-family: "Open Sans";
}

input[type=file] {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*

    .nav start

*/

.nav-container {
    height: 100%;
    display: grid;
    grid-template-rows: auto max-content;
    align-items: center;
    row-gap: 20px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: #ffffff;
}

.navbar {
    grid-row: 1;
    display: grid;
    grid-template-rows: repeat(5, max-content);
    grid-auto-rows: auto;
    justify-content: center;
    align-items: center;
}

.navbar button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-button {
    height: 90px;
    width: 90px;
    font-size: 20px;
    text-align: center;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid transparent;
}

.nav-button img {
    width: 24px;
    height: 24px;
}

.nav-link {
    background-color: #ffffff;
}

.nav-link:hover {
    background-color: #B0B0B0;

}

.nav-active {
    border-right: 8px solid #fdf0ac;
}

.nav-notif-order {
    position: absolute;
    margin-top: -24px;
    margin-right: -24px;
    background-color: #fdf0ac;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.logout {
    grid-row: 2;
    display: flex;
    align-items: flex-end;
}

.logout div {
    border: 1px solid transparent;
}

.logout div:hover {
    background-color: transparent;
}

.logout div:hover span {
    color: #C92325;
}

.logout div:hover img {
    filter: invert(19%) sepia(47%) saturate(3724%) hue-rotate(341deg) brightness(107%) contrast(103%);
}

/*

    .nav end

*/

/*********************************************************/
/*********************************************************/
/*********************************************************/

/*
	.content start
*/

/*
    .content end
*/

/*********************************************************/
/*********************************************************/
/*********************************************************/

/*
	.sidebar start
*/

.sidebar {
    display: grid;
    width: 420px;
    background-color: #ffffff;
    padding: 20px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.button-container {
    grid-row: 1;
    justify-self: end;
	filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2));
}

.side-title span {
    font-size: 36px;
    font-weight: bold;
}

/*
    .sidebar end
*/

/*********************************************************/
/*********************************************************/
/*********************************************************/

/*
	.notif start
*/

.notif {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #F3E495;
    margin-bottom: 40px;
    width: 450px;
    padding: 20px;
    border-radius: 20px;
	filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.2));
    display: grid;
    grid-template-rows: max-content auto;
    row-gap: 20px;
    display: none;
}

.notif-header {
    display: grid;
}

.notif-title {
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(2, max-content) auto;
    align-items: center;
    column-gap: 5px;
}

.notif-title-img {
    width: 18px;
    height: 18px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.notif-title-text {
    padding-top: 3px;
}

.notif-title-img img {
    width: 18px;
}

.notif-controls {
    grid-column: 3;
    display: flex;
    align-items: center;
    justify-self: end;
    justify-content: end;
}

.notif-control {
    width: 24px;
    height: 24px;
    overflow: hidden;
    background: transparent;
    border: none;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notif-control:hover {
    background-color: #B0B0B0;
}

.notif-control img {
    width: 12px;
}

.notif-subheader-text {
    font-style: italic;
    font-weight: 300;
}

.notif-content {
    display: grid;
    grid-template-columns: auto max-content;
    column-gap: 30px;
}

.notif-c-header {
    display: grid;
    grid-auto-rows: max-content;
    row-gap: 10px;
}

.notif-c-h-detail {
    display: grid;
    grid-auto-rows: max-content;
    background-color: #fdf0ac;
    padding: 10px;
    border-radius: 20px;
}

.notif-d-food {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 5px;
}

.notif-d-f-name {
    font-weight: bold;
}

.notif-d-italic {
    font-weight: 300;
    font-style: italic;
}

.notif-redirect {
    justify-self: end;
    display: flex;
    justify-content: end;
    align-items: start;
}

.notif-r-control {
    padding: 5px 10px;
    border-radius: 20px;
}

.notif-r-control:hover {
    cursor: pointer;
    background-color: #B0B0B0;
}

/*
	.notif end
*/