.cart-content {
    padding: 20px;
    display: grid;
    grid-template-rows: max-content auto max-content;
    row-gap: 20px;
    background-image: url(../img/cart-background.png);
    background-position: bottom;
    background-size: 60%;
    background-repeat: no-repeat;
}

.cart-items {
    display: grid;
    grid-auto-rows: max-content;
    row-gap: 10px;
    overflow: auto;
    scroll-behavior: smooth;
}

.cart-item {
    background-color: #ffffff;
    border-radius: 20px;
	filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.2));
    padding: 20px;
}

.cart-container {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 10px;
}

.cart-img {
    width: 150px;
    height: 109px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.cart-img img {
    width: 150px;
}

.cart-title {
    font-weight: bold;
}

.cart-detail {
    display: grid;
    grid-auto-rows: max-content;
}

.cart-info {
    display: grid;
    grid-template-rows: max-content auto;
}

.cart-control {
    align-self: end;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    column-gap: 5px;
}

.cart-control span {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.cart-button:hover {
    cursor: pointer;
}

.cart-control span img {
    height: 12px;
    width: 12px;
}

.cart-quantity {
    text-align: center;
    width: 20px;
}

.cart-submit {
    padding: 10px 30px;
    background-color: #F48F1D;
    border-radius: 20px;
    margin: 0px 50px;
    display: flex;
    justify-content: center;
	filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.2));
}

.cart-submit:hover {
    background-color: #b0b0b0;
    cursor: pointer;
}

.cart-submit span {
    text-align: center;
    color: #ffffff;
}

.binary-controls {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}

.binary-button {
    text-align: center;
    border-radius: 20px;
    padding: 10px 0px;
    background-color: #ffffff;
	filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.2));
}

.binary-button:hover {
    background-color: #b0b0b0;
    cursor: pointer;
}

.binary-button-submit:hover {
    background-color: #b0b0b0;
    cursor: pointer;
}

.binary-button-submit {
    grid-column: 1;
    background-color: #F48F1D;
    color: #ffffff;
}

.binary-button-cancel {
    grid-column: 2;
}