.content {
    grid-column: 2;
    display: grid;
    grid-template-rows: auto;
}

.content-content {
    background-color: #ffffff;
    margin: 40px;
    padding: 40px;
    border-radius: 50px;
    display: grid;
    grid-template-rows: max-content auto;
    row-gap: 20px;
}

.content-title {
    display: grid;
    grid-template-columns: auto;
}

.content-title img {
    grid-column: 1;
    width: 250px;
}

.title-detail {
    grid-column: 2;
    align-self: center;
    justify-self: end;
    display: grid;
    grid-auto-rows: max-content;
}

.title-detail span {
    text-align: right;
}

.title-title {
    font-size: 36px;
    font-weight: bold;
}

.title-subtitle {
    font-size: 18px;
}

.content-store {
    display: grid;
    grid-auto-rows: max-content;
    row-gap: 20px;  
    overflow: auto;
    scroll-behavior: smooth;
}

.store-content {
    height: 220px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
	filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.4));
    background-size: cover;
    background-repeat: no-repeat;
}

.store-container {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 20px;
    padding: 20px;
}

.store-pic {
    width: 120px;
    height: 120px;
    overflow: hidden;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 100%;
}

.store-pic img {
    width: 120px;
}

.store-info {
    grid-column: 2;
    align-self: flex-end;
    display: grid;
    grid-auto-rows: max-content;
    row-gap: 5px;
}

.store-info span {
    color: #FFFFFF;
}

.store-info img {
    width: 18px;
    height: 18px;
}

.store-title {
    font-size: 32px;
    font-weight: bold;
    font-family: "Oswald";
    text-transform: uppercase;
}

.store-subtitle {
    font-weight: 350;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.store-subtitle span {
    margin-top: 5px;
    margin-left: 5px;
}