.content-content {
    margin: 20px;
}

.content-title {
    font-size: 32px;
	filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
}

.content-store {
    display: grid;
    grid-auto-rows: minmax(500px, auto);
    row-gap: 20px;  
}

.store-content {
    height: 220px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
}

.store-container {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 20px;
    padding: 20px;
}

.store-pic {
    width: 120px;
    height: 120px;
    overflow: hidden;
    align-self: flex-end;
}

.store-pic img {
    width: 120px;
    border-radius: 100%;
}

.store-info {
    grid-column: 2;
    align-self: flex-end;
    display: grid;
    grid-auto-rows: max-content;
    row-gap: 5px;
}

.store-info span {
    color: #FFFFFF;
}

.store-title {
    font-size: 32px;
    font-weight: bold;
}

.store-subtitle {
    font-style: italic;
    font-weight: 350;
    font-size: 18px;
}