input[type=text], input[type=password] {
    border-radius: 10px;
}

.profile-edit {
    width: 100%;
}

.profile-form {
    background-color: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 20px;
    display: grid;
    grid-template-rows: repeat(3, max-content) auto auto;
    grid-auto-rows: max-content;
    row-gap: 15px;
    padding: 10px;
}

.form-field {
    background-color: #fdf0ac;
    padding: 20px;
    border-radius: 20px;
}

.form-container {
    display: grid;
    grid-template-rows: max-content;
    grid-auto-rows: max-content;
    row-gap: 5px;
}

.form-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-input input{
    width: 100%;
}

.form-error {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
}

.form-button {
    display: grid;
    grid-template-columns: auto auto max-content;
    align-items: center;
    column-gap: 3px;
}

.submit-container {
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-auto-columns: max-content;
    column-gap: 10px;
}

.submit-container button {
    width: 80px;
    height: 45px;
    background-color: #FFFFFF;
    border: 1px solid #fdf0ac;
    border-radius: 50px;
    font-family: "Josefin Sans";
    padding: 5px 10px;
}

.submit-container button:disabled {
    opacity: 0.6;
}

.submit-container button:enabled:hover {
    background-color: #fdf0ac;
}

.tooltip-header {
	font-size: 12px;
	color: #929292;
	position: relative;
	display: inline-block;
    align-self: center;
}

.tooltip-header span {
	color: #FFFFFF;
	width: 150px;
	bottom: 100%;
	left: 50%;
	visibility: hidden;
	background-color: #2F2F2F;
	text-align: center;
	padding: 5px;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
}

.tooltip-header:hover span {
	visibility: visible;
}

.pw-container:hover a {
    color: #F48F1D;
}