.profile-form {
    grid-template-rows: max-content auto auto;
}

.form-input {
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

#submit-pw {
    background-color: #F48F1D;
}