.body-container {
    width: 100%;
    grid-row: 2;
    display: grid;
    grid-auto-rows: max-content;
    row-gap: 10px;
}

.profile-content {
    grid-row: 1;
    display: grid;
    grid-template-columns: max-content auto max-content;
    column-gap: 10px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 20px;
}

.img-container {
    grid-column: 1;
    align-self: center;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    overflow: hidden;
	filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.2));
}

.img-container img {
    width: 100px;
}

.profile-info {
    grid-column: 2;
    align-self: center;
    display: grid;
    grid-template-rows: max-content max-content max-content;
    grid-auto-rows: auto;
    row-gap: 15px;
    align-items: center;
}

.button-show {
    width: 60px;
    height: 60px;
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 20px;
    position: absolute;
    align-self: start;
    justify-self: end;
}

.button-show:hover {
    background-color: #B0B0B0;
}

.button-show img{
    height: 24px;
    width: 24px;
}

.info-title {
    text-align: center;
    font-size: 20px;
}

.info-detail {
    font-weight: 325;
    text-align: center;
    display: grid;
    grid-template-rows: max-content max-content;
    grid-auto-rows: auto;
}